@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

#app {
    font-family: 'Poppins', sans-serif;
}

#bg-global {
    background-color: #fcfcff;
}

#space {
    margin-top: 11%;
}

#space-testi {
    margin-top: 8%;
}


mark {
    display: inline-block;
    line-height: 0em;
    padding-top: 0em;
    padding-bottom: 0.3em;
    background-color: #EFF4FF;
}
/* Text Size */
.text-vt {
    font-size: 14.5px;
}

.text-chat {
    font-size: 15px;
}

/* Text Color */
.text-color-sage-green{
    color: #AEFF9C;
}

/* Ucapan */
.scroll-ucapan{
    overflow:scroll; 
    height:100px;
}
  
.scroll-ucapan::-webkit-scrollbar {
    height: 1px;
    display: none;
}

.scroll-reply{
  overflow:scroll; 
  height:550px;
}

.scroll-reply::-webkit-scrollbar {
  height: 1px;
  display: none;
}

.hover-card {
    transition: all 0.8s;
    margin-bottom: 10px;
}

.hover-card:hover {
    -webkit-box-shadow: 2px 14px 22px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 14px 22px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 14px 22px -2px rgba(0, 0, 0, 0.1);
}

.card-porto {
    --bs-gutter-x: 0rem;
}

.avatar-porto {
    margin-right: 1.5em !important;
    margin-left: 0em !important;
}

/* Unlock Wizard From */
#sk {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-height: 90vh;
}

#wizard {
    margin-top: 5%;
}

/* Invitation */
.frame{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.frame-photo{
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.frame-bingkai{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap');

  #cover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 100vw;
    position: fixed;
    /* margin-top: 10%; */
  }
  
  #mempelai {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  #detail-mempelai {
    padding-top: 15%;
    padding-bottom: 12%;
  }
  #acara {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  #amplop-digital {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  #gallery {
    padding-top: 15%;
    padding-bottom: 12%;
  }
  #ucapan {
    padding-top: 10%;
    padding-bottom: 15%;
  }
  #penutup {
    padding-top: 15%;
    padding-bottom: 5%;
  }

  /* Image Bingkai */
  .img-bingkai {
    height: 15%;
    width: auto;
  }
  .rotate {
    animation: rotation 100s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .nama-mempelai{
    font-size: 45px;
    font-family: 'Birthstone Bounce', cursive;
  }
  .nama-mempelai-detail{
    font-size: 40px;
    font-family: 'Birthstone Bounce', cursive;
  }
  .font-acara{
    font-size: 40px;
    font-family: 'Birthstone Bounce', cursive;
  }

  /* ASSET VECTOR */
  .asset-atas{
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .asset-bawah{
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  /* WALLPAPER */
  .wallpaper-cover{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .wallpaper{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .wallpaper-top{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .wallpaper-body{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .wallpaper-bottom{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .wallpaper-mempelai{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .wallpaper-detail-mempelai{
    background-size: cover;
    min-height: 165vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .wallpaper-acara{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .wallpaper-amplop-digital{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .wallpaper-ucapan{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .wallpaper-penutup{
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  .center-header{
        display: flex;
        align-items: center;
        min-height: 85vh;
  }

  /* Caraousel */
  .carousel__slide {
    padding: 5px;
  }
  
  .carousel__viewport {
    perspective: 2000px;
  }
  
  .carousel__track {
    transform-style: preserve-3d;
  }
  
  .carousel__slide--sliding {
    transition: 0.5s;
  }
  
  .carousel__slide {
    opacity: 0.9;
    transform: rotateY(-20deg) scale(0.9);
  }
  
  .carousel__slide--active ~ .carousel__slide {
    transform: rotateY(20deg) scale(0.9);
  }
  
  .carousel__slide--prev {
    opacity: 1;
    transform: rotateY(-10deg) scale(0.95);
  }
  
  .carousel__slide--next {
    opacity: 1;
    transform: rotateY(10deg) scale(0.95);
  }
  
  .carousel__slide--active {
    opacity: 1;
    transform: rotateY(0) scale(1.1);
  }

@media only screen 
and (min-device-width: 320px) and (max-device-width: 980px){
    .center-header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 80vh;
    }
    /* .text-promo-header{
        margin-top: 5%;
    } */
    .heading-header{
        text-align: center;
    }
    .sub-heading-header{
        text-align: center;
    }
    .cover-header{
        display: none;
    }

    .section-katalog{
        margin-top: 20%;
    }

    #wizard {
        margin-top: 20%;
    }
}